server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: "${DB_URL}"  ##jdbc:postgresql://localhost:5432/postgres?currentSchema=gamera
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
  flyway:
    enabled: true
    schemas: gamera
  jpa:
    properties:
      hibernate:
        default_schema: gamera
        jdbc:
          time_zone: UTC
        format_sql: true
    show-sql: true

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"

jwt:
  secretKey: "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZ5QIeI0ioHDYGU0RMwGti6Z9/2SReCeFnYZJY5xsbFWRiU"
