server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=gamera
    username: postgres
    password: admin
  flyway:
    enabled: true
    schemas: gamera
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
  jpa:
    properties:
      hibernate:
        default_schema: gamera
        jdbc:
          time_zone: UTC
        format_sql: true
    show-sql: true

system-param:
  aws-active: true
  base-url: http://localhost:8080/api/v1
  sign-in-jwt-expired-minute: 3600


cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

jwt:
  secretKey: "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDZ5QIeI0ioHDYGU0RMwGti6Z9/2SReCeFnYZJY5xsbFWRiU"
