name: CodeQL Analyze

on:
  push:
    # branches:
    #   - main
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:
  # schedule:
  #   - cron: '0 21 * * *'

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ['java']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ matrix.language }}

      # - name: Autobuild
      #   uses: github/codeql-action/autobuild@v2

      - name: Build Code
        run: |
          ./gradlew clean build

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          language: java
          # Adjust queries as needed
          queries: ~/
